<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.car.car.dao.CarModelMapper">
  <resultMap id="BaseResultMap" type="com.feri.car.car.entity.CarModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="body_form_name" jdbcType="VARCHAR" property="bodyFormName" />
    <result column="price_low" jdbcType="DECIMAL" property="priceLow" />
    <result column="price_high" jdbcType="DECIMAL" property="priceHigh" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="level_name" jdbcType="VARCHAR" property="levelName" />
    <result column="level_second" jdbcType="INTEGER" property="levelSecond" />
    <result column="level_second_name" jdbcType="VARCHAR" property="levelSecondName" />
    <result column="sale_status" jdbcType="TINYINT" property="saleStatus" />
    <result column="all_spell" jdbcType="VARCHAR" property="allSpell" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
    <result column="sync_time" jdbcType="INTEGER" property="syncTime" />
  </resultMap>

  <insert id="insert" parameterType="com.feri.car.car.entity.CarModel">
    insert into car_model (brand_id, name,
      display_name, english_name, body_form_name, 
      price_low, price_high, level, 
      level_name, level_second, level_second_name, 
      sale_status, all_spell, create_time, 
      update_time, sync_time)
    values (#{brandId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{displayName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, #{bodyFormName,jdbcType=VARCHAR}, 
      #{priceLow,jdbcType=DECIMAL}, #{priceHigh,jdbcType=DECIMAL}, #{level,jdbcType=INTEGER}, 
      #{levelName,jdbcType=VARCHAR}, #{levelSecond,jdbcType=INTEGER}, #{levelSecondName,jdbcType=VARCHAR}, 
      #{saleStatus,jdbcType=TINYINT}, #{allSpell,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=INTEGER}, #{syncTime,jdbcType=INTEGER})
  </insert>

</mapper>